html {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.container {
    padding: 20px 100px 0;
    min-height: 100vh;
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
body {
    background-image: url(https://cdn.pixabay.com/photo/2018/05/03/16/01/pattern-3371709_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}